{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 80,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@data/(.*)$",
    "^@configuration/(.*)$",
    "^@common/(.*)$",
    "^@modules/(.*)$",
    "^@/(.*)$",
    "^@root/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": [
    "typescript",
    "classProperties",
    "[\"decorators-legacy\", { \"decoratorsBeforeExport\": true }]"
  ]
}
